.contactForm {
    font-family: 'Fira Sans', sans-serif;
}

.contactForm h1 {
    margin-top: 15vw;
    font-family: 'Source Code Pro', monospace;
    justify-content: center;
    align-items: center;
}

.mb-3 input {
    width: 50vw;
    padding-top: 16px;
    padding: 4px;
    margin-top: 6px;
}

.mb-3 label {
    padding-bottom: 40px;
    padding-top: 16px;
}

#emailHelp {
    margin-top: 10px;
}

#isclient {
    width: 4vw;
}

.btn {
    margin-top: 10px;
}
